/* .App {
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fgetwallpapers.com%2Fcollection%2Fcoding-wallpapers&psig=AOvVaw0MkMAP8ADtzfb9WR5A-FkJ&ust=1705169937804000&source=images&cd=vfe&opi=89978449&ved=0CBcQjRxqFwoTCNjuuZ272IMDFQAAAAAdAAAAABAD);
} */



/* body {
  /* background-image: url('../images/bg.jpeg'); */
  /* background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; This property fixes the background image while scrolling */
  /* background-color: red; */
/* }  */


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Problem statement page */

.problem-statement {
  margin: 2% 20%;
  background-color: #ffffff;
  /* background-color: red; */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.problem-title {
  text-align: center;
  /* font-size: 24px; */
  /* font-weight: bold; */
  /* margin-bottom: 100px; */
}

.problem-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.input-output {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}


 /* Problem list */

 header {
  /* background-color: #007bff; */
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.problem-list {
  max-width: 800px;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0 10px rgba(24, 10, 223, 0.1);
}

.problem {
  border-bottom: 1px solid #ddd;
  padding: 10px 0px 0px 0px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.problem:hover {
  background-color: #f0f0f0;
}

.problem-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.problem-description {
  font-size: 14px;
  color: #555;
}


.problem-section {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px 0px;
  /* background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

/* nav {
  background-color: #171c53;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.profile-button {
  padding: 5px 10px;
  /* background-color: #4CAF50; */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}


.question-ribbon-header{
  display: inline-block; 
  width: 100%;
  /* border: 1px solid red; */
}

.question-ribbon-id {
    float: left;
}

.question-ribbon-title {
  float: right;
}

/* Add Question Style  */

/* form {
  max-width: 50%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.add-question-form{
  max-width: 50%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-testcase-form{
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-question-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 0 45%;
  margin-bottom: 10px;
}


label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin-bottom: 12px;
}


.Passed{
  border-bottom: 1px solid #ddd;
  padding: 10px;
  transition: background-color 0.3s;
  background-color: rgb(120, 249, 120);
  cursor: pointer;
}

.Failed{
  border-bottom: 1px solid #ddd;
  padding: 10px;
  transition: background-color 0.3s;
  background-color: rgb(242, 71, 71);
  cursor: pointer;
}

/* button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
} */